.modal-overlay {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .56);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.modal-block {
    transition: all 0.8s ease 0s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    border-radius: 12px;
    z-index: 3;
    overflow-y: auto;
    width: 500px;
    max-width: 100%;
    &--md-sizing {
        width: 900px;
    }
}

.full-screen {
    border: none !important;
    padding: 34px !important;
    border-radius: 0;
    width: 95%;
    height: 90.1vh;
    max-height: 100%;
}

.close-btn {
    position: relative;
    transition: all .4s;
    width: 1px;
    padding: 0 20px;
    height: 30px;
    color: black;
    display: flex;
    align-items: center;
    margin-left: auto;


    span {
        position: absolute;
        transition: all 0.5s ease 0s;
        background-color: white;

        &:first-child {
            transform: rotate(45deg);
            width: 3px;
            height: 72%;
        }

        &:last-child {
            transform: rotate(-45deg);
            width: 3px;
            height: 72%;
        }
    }

    &:hover {
        cursor: pointer;
        border-radius: 12px;
        background-color: red;

        span {
            &:first-child {
                transform: rotate(90deg);
            }

            &:last-child {
                transform: rotate(-90deg);
            }
        }
    }
}

.modal-header {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 5px 10px;
    &__title {
        color: white;
    }
}


@media(max-width:991px) {
    .modal-block {
        max-width: 98%;

        &::-webkit-scrollbar {
            width: 9px;
            background-color: #9c9ea1;
            border-radius: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ffbb3f;
            border-radius: 12px;

        }
    }
}

@media(max-width: 767px) {
    .full-screen {
        width: 93% !important;
        max-width: 100% !important;
    }

    .modal-block {
        width: 360px;
        max-width: 100%;

        &::-webkit-scrollbar {
            width: 0px;
            background-color: #9c9ea1;
            border-radius: 12px;
        }
    }
}

@media(max-width: 575px) {
    .full-screen {
        padding: 20px !important;
    }

    .modal-block {
        max-width: 75%;
    }
}